{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "App": {
    "BaseUrl": ""
  },
  "ConnectionStrings": {
    "SqlServer": "Data Source=<server>;Initial Catalog=<database>;User Id=<user>;Password=<password>;MultipleActiveResultSets=True;TrustServerCertificate=True;"
  },
  "Hangfire": {
    "WorkerCount": 10,
    "DashboardEnabled": false,
    "SchemaName": "HangFire",
    "ServerName": ""
  },
  "Serilog": {
    "MinimumLevel": "Information",
    "WriteTo": []
  }
}
